.characters {
    .characters-header {
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .input-search {
        text-align: center;
        margin-bottom: 20px;
    }
    .nested-select {
        max-width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        .select-status {
            margin-bottom: 20px;
            .select {
                margin-left: 6px;
            }
        }
        .select-gender {
            margin-left: 12px;
            margin-bottom: 20px;
            .select {
                margin-left: 6px;
            }
        }
    }

    .species-search {
        text-align: center;
        margin-bottom: 20px;
    }
    .type-search {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .pagination {
        justify-content: center;
    }
    .g-4 {
        margin: 1em 20px;
        margin-bottom: 20px;
        .text-center {
            width: auto;
            margin-right: 10px;
            .image {
                max-width: 360px;
                margin: 0 auto;
            }
        }
    }
}