.episodes {
    .episodes-header {
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .pagination {
        justify-content: center;
    }
    .episodes-table {
        width: 720px;
        margin: 0 auto;
        margin-bottom: 20px;
        .table {
            margin-bottom: 0px;
        }
    }
}