.episodes {
    .episodes-header {
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .pagination {
        justify-content: center;
    }
    .episodes-table {
        width: 720px;
        margin: 0 auto;
        margin-bottom: 20px;
        .table {
            margin-bottom: 0px;
        }
    }
}

@media screen and (max-width: 900px) {
    .episodes {
        .episodes-table {
            width: 600px;
        }
    }
}

@media screen and (max-width: 600px) {
    .episodes {
        .episodes-table {
            width: 400px;
        }
    }
}