.home {
    .home-header {
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .card-grid {
        .group-one {
            max-width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;
            margin-top: 30px;
            .item-one {
                padding-right: 20px;
                .content {
                    width: 400px;
                    .right-body {
                        .card-text {
                            margin-bottom: 7px;
                        }
                    }
                }
            }
            .item-two {
                padding-left: 20px;
                .content {
                    width: 400px;
                    .right-body {
                        .card-text {
                            margin-bottom: 7px;
                        }
                    }
                }
            }
        }
        .group-two {
            max-width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;
            margin-top: 30px;
            .item-one {
                padding-right: 20px;
                .content {
                    width: 400px;
                    .right-body {
                        .card-text {
                            margin-bottom: 7px;
                        }
                    }
                }
            }
            .item-two {
                padding-left: 20px;
                .content {
                    width: 400px;
                    .right-body {
                        .card-text {
                            margin-bottom: 7px;
                        }
                    }
                }
            }
        }
        .group-three {
            max-width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 40px;
            .item-one {
                padding-right: 20px;
                .content {
                    width: 400px;
                    .right-body {
                        .card-text {
                            margin-bottom: 7px;
                        }
                    }
                }
            }
            .item-two {
                padding-left: 20px;
                .content {
                    width: 400px;
                    .right-body {
                        .card-text {
                            margin-bottom: 7px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .home {
        .card-grid {
            .group-one {
                max-width: 100%;
                box-sizing: border-box;
                display: grid;
                flex-direction: row;
                justify-content: center;
                margin: 0 auto;
                padding-bottom: 20px;
                row-gap: 12px;
                .item-one {
                    padding-right: 0px;
                    .content {
                        width: 500px;
                    }
                }
                .item-two {
                    padding-left: 0px;
                    .content {
                        width: 500px;
                    }
                }
            }
            .group-two {
                max-width: 100%;
                box-sizing: border-box;
                display: grid;
                flex-direction: row;
                justify-content: center;
                margin: 0 auto;
                padding-bottom: 20px;
                row-gap: 12px;
                .item-one {
                    padding-right: 0px;
                    .content {
                        width: 500px;
                    }
                }
                .item-two {
                    padding-left: 0px;
                    .content {
                        width: 500px;
                    }
                }
            }
            .group-three {
                max-width: 100%;
                box-sizing: border-box;
                display: grid;
                flex-direction: row;
                justify-content: center;
                margin: 0 auto;
                padding-bottom: 20px;
                row-gap: 12px;
                .item-one {
                    padding-right: 0px;
                    .content {
                        width: 500px;
                    }
                }
                .item-two {
                    padding-left: 0px;
                    .content {
                        width: 500px;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 650px) {
    .home {
        .card-grid {
            .group-one {
                .item-one {
                    .content {
                        width: 400px;
                    }
                }
                .item-two {
                    .content {
                        width: 400px;
                    }
                }
            }
            .group-two {
                .item-one {
                    .content {
                        width: 400px;
                    }
                }
                .item-two {
                    .content {
                        width: 400px;
                    }
                }
            }
            .group-three {
                .item-one {
                    .content {
                        width: 400px;
                    }
                }
                .item-two {
                    .content {
                        width: 400px;
                    }
                }
            }
        }
    }
    
}